<!-- 
NOTE: Rename this file to AppSettings.private.config after filling in the values below.
Doing so will keep your private API key and access tokens out of source control. 
-->
<appSettings>
  <add key="ApiKey" value="your_shopify_api_key "/>
  <add key="SecretKey" value="your_shopify_secret_key" />
  <add key="AccessToken" value="a_valid_shopify_access_token "/>
  <add key="MyShopifyUrl" value="https://example.myshopify.com" />
  <add key="BillingAccessToken" value="7da442f8584cb6906114aa7cc1ca48f1" />
  <add key="BillingMyShopifyUrl" value="iron-stages-beta-test-shop.myshopify.com" />
</appSettings>