SHOPIFYSHARP_MY_SHOPIFY_URL = example.myshopify.com

SHOPIFYSHARP_API_KEY = value

SHOPIFYSHARP_SECRET_KEY = value

# If using a private app, the private app's "password" goes here
SHOPIFYSHARP_ACCESS_TOKEN = value

# Optional, only necessary if you're testing the multipass service
SHOPIFYSHARP_MULTIPASS_SECRET = value

# Optional, only necessary if you're testing the PartnerService
SHOPIFYSHARP_ORG_ID = value

# Optional, only necessary if you're testing the PartnerService
SHOPIFYSHARP_ORG_TOKEN = value
