name: Build/Test Pipeline

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'docs/wiki'
      - '.gitmodules'
  workflow_dispatch:

# Cancel any in-progress build/test runs
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

env:
  ARTIFACTS_DIR: "./artifacts"

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    environment: "Build Environment"

    steps:
    - name: Setup justfile
      uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
      with:
        just-version: '1.46.0'

    - name: Checkout branch
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        ref: ${{ github.ref }}

    - name: Setup dotnet
      uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
      with:
        dotnet-version: |
          10.0.x

    - name: Build and pack
      run: just build-and-pack "${{ github.run_number }}" "${{ env.ARTIFACTS_DIR }}"

    - name: Upload artifacts
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: artifacts
        if-no-files-found: error
        path: |
          "${{ env.ARTIFACTS_DIR }}/*.nupkg"
          "${{ env.ARTIFACTS_DIR }}/*.snupkg"

  test-windows:
    name: "Unit tests (.NET Framework)"
    runs-on: "windows-latest"
    needs: build
    environment: "Unit test environment"

    env:
      SHOPIFYSHARP_ACCESS_TOKEN: "${{ secrets.SHOPIFYSHARP_ACCESS_TOKEN }}"
      SHOPIFYSHARP_API_KEY: "${{ secrets.SHOPIFYSHARP_API_KEY }}"
      SHOPIFYSHARP_SECRET_KEY: "${{ secrets.SHOPIFYSHARP_SECRET_KEY }}"
      SHOPIFYSHARP_MY_SHOPIFY_URL: "${{ secrets.SHOPIFYSHARP_MY_SHOPIFY_URL }}"
      SHOPIFYSHARP_ORG_ID: "${{ secrets.SHOPIFYSHARP_ORG_ID }}"
      SHOPIFYSHARP_ORG_TOKEN: "${{ secrets.SHOPIFYSHARP_ORG_TOKEN }}"

    steps:
    - name: Setup justfile
      uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
      with:
        just-version: '1.46.0'

    - name: Checkout branch
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Execute .NET Framework unit tests
      run: just verbosity=quiet test-dnf

    - name: Upload test results
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: framework-test-results
        path: TestResults
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}

  test:
    name: "Unit tests"
    runs-on: ubuntu-latest
    needs: build
    environment: "Unit test environment"

    env:
      SHOPIFYSHARP_ACCESS_TOKEN: "${{ secrets.SHOPIFYSHARP_ACCESS_TOKEN }}"
      SHOPIFYSHARP_API_KEY: "${{ secrets.SHOPIFYSHARP_API_KEY }}"
      SHOPIFYSHARP_SECRET_KEY: "${{ secrets.SHOPIFYSHARP_SECRET_KEY }}"
      SHOPIFYSHARP_MY_SHOPIFY_URL: "${{ secrets.SHOPIFYSHARP_MY_SHOPIFY_URL }}"
      SHOPIFYSHARP_ORG_ID: "${{ secrets.SHOPIFYSHARP_ORG_ID }}"
      SHOPIFYSHARP_ORG_TOKEN: "${{ secrets.SHOPIFYSHARP_ORG_TOKEN }}"

    steps:
    - name: Setup justfile
      uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
      with:
        just-version: '1.46.0'

    - name: Setup dotnet
      uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
      with:
        dotnet-version: |
          10.0.x

    - name: Checkout branch
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Create ShopifySharp.Tests.Integration/appsettings.local.json
      run: |
        cat <<EOF > ShopifySharp.Tests.Integration/appsettings.local.json
        {
          "ShopifySharp": {
            "Credentials": {
              "ShopDomain": "${{ secrets.SHOPIFYSHARP_MY_SHOPIFY_URL }}",
              "AccessToken": "${{ secrets.SHOPIFYSHARP_ACCESS_TOKEN }}",
              "ApiKey": "${{ secrets.SHOPIFYSHARP_API_KEY }}"
            }
          }
        }
        EOF

    - name: Execute unit test script
      run: just verbosity=quiet test-everything

    - name: Upload test results
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: core-test-results
        path: TestResults
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}

  publish:
    name: "Publish prerelease packages"
    runs-on: ubuntu-latest
    needs:
      - test-windows
      - test
    environment: "Prerelease deployment environment"
    # Only publish prerelease packages on the master branch
    if: ${{ github.ref_name == 'master' }}

    steps:
    - name: Setup justfile
      uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
      with:
        just-version: '1.46.0'

    - name: Setup dotnet
      uses: actions/setup-dotnet@8e6bd2905eef86446227f003dda1deb3916c4aaf # v2.2.1
      with:
        dotnet-version: |
          10.0.x

    - name: Download artifacts
      uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
      with:
        name: artifacts
        path: "${{ env.ARTIFACTS_DIR }}"

    - name: List files in artifacts folder
      run: ls "${{ env.ARTIFACTS_DIR }}"

    - name: Publish package to Nuget
      run: just publish-to-nuget --prerelease "${{ secrets.NUGET_TOKEN }}" "${{ env.ARTIFACTS_DIR }}"
