name: Release Pipeline
run-name: Publish ${{ inputs.package_id }} ${{ inputs.package_version }}

on:
  workflow_dispatch:
    inputs:
      package_id:
        description: "Package"
        type: choice
        default: 'ShopifySharp'
        options:
          - 'ShopifySharp'
          - 'ShopifySharp.Extensions.DependencyInjection'
      package_version:
        description: "New package version"
        type: string
        required: true

env:
  ARTIFACTS_DIR: "./artifacts"

jobs:
  publish:
    name: "Publish release packages"
    runs-on: ubuntu-latest
    environment: "Release deployment environment"

    steps:
    - name: Setup justfile
      uses: taiki-e/install-action@f176c07a0a40cbfdd08ee9aa8bf1655701d11e69 # v2.67.25
      with:
        tool: just@1.46.0

    - name: Setup dotnet
      uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
      with:
        dotnet-version: |
          10.0.x

    - name: Install dotnet tools
      run: |
        dotnet tool install -g dotnet-setversion

    - name: Clone repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set package version
      run: just set-package-version "${{ inputs.package_version }}" "${{ inputs.package_id }}"

    - name: Build and pack
      run: just build-and-pack "${{ github.run_number }}" "${{ env.ARTIFACTS_DIR }}"

    - name: Upload artifacts
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: artifacts
        if-no-files-found: error
        path: |
          "${{ env.ARTIFACTS_DIR }}/ShopifySharp.${{ inputs.package_version }}.nupkg"
          "${{ env.ARTIFACTS_DIR }}/ShopifySharp.${{ inputs.package_version }}.snupkg"
          "${{ env.ARTIFACTS_DIR }}/ShopifySharp.Extensions.DependencyInjection.${{ inputs.package_version }}.nupkg"
          "${{ env.ARTIFACTS_DIR }}/ShopifySharp.Extensions.DependencyInjection.${{ inputs.package_version }}.snupkg"

    - name: Commit package version change
      uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
      with:
        add: "${{ inputs.package_id }}/${{ inputs.package_id }}.csproj"
        commit: --signoff
        message: "Bump version to ${{ inputs.package_version }}"
        pathspec_error_handling: exitAtEnd
        default_author: github_actions
        push: true

    - name: Publish ${{ inputs.package_id }} package to Nuget
      run: just publish-to-nuget --full-release "${{ secrets.NUGET_TOKEN }}" "${{ env.ARTIFACTS_DIR }}"

    - name: Create Github release for ${{ inputs.package_id }}
      uses: "marvinpinto/action-automatic-releases@919008cf3f741b179569b7a6fb4d8860689ab7f0" # v1.2.1
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "${{ inputs.package_id }}/${{ inputs.package_version }}"
        prerelease: false
        draft: true
        title: "${{ inputs.package_id }} ${{ inputs.package_version }}"
        files: |
          "${{ env.ARTIFACTS_DIR }}/${{ inputs.package_id }}.${{ inputs.package_version }}.nupkg"
          "${{ env.ARTIFACTS_DIR }}/${{ inputs.package_id }}.${{ inputs.package_version }}.snupkg"
